<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mysql</title>
</head>
<body>
    <h1>Heroes</h1>
    <ul>
        <% heroes.forEach(hero=>{%>
            <li><a href="/heroes/<%=hero.id%>"><%=hero.name%></a></li>
        <%})%>
    </ul>
    
    <h2>add hero</h2>
  
    <form  method="POST" action="/heroes">
        name: <input type="text" name="name"><br>
        age:  <input type="number" name="age"><br>
        <input type="submit" value="Save">
    </form>

    <h2>add location</h2>
    <form  method="POST" action="/locations">
        name: <input type="text" name="name"><br>
        region:  <input type="text" name="region"><br>
        <input type="submit" value="Save">
    </form>

</body>
</html>